.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    .content_smart_one{
        margin-bottom:20px;
        .mc_style_title-footer{
            text-align: center;
            font-weight: 700;
            font-size: 35px;
        }
        .mc_content{
            padding: 15px;
            text-align: center;
        }
    }
    #weatherWidget{
        background: #ffffff00 !important; 
    }
}
.body_test video{
    position: relative;
  }
canvas {
    top:30%;
    position: absolute;
}